<div id="opacity-container">
  <div id="more-info-container">
    <h3>MORE INFO</h3>
    <img [src]="report.pictureLink" alt="Report Image" />

    <div class="row-container">
      <span>Baddie's Name:</span>
      <p>{{ report.troubleMakerInfo }}</p>
    </div>
    <div class="row-container">
      <span>Location:</span>
      <p>{{ report.location.placeName }}</p>
    </div>
    <div class="row-container">
      <span>Reported by:</span>
      <p>
        {{ report.reportingPerson }}
        {{ report.phoneNumber ? "(" + (report.phoneNumber | phone) + ")" : "" }}
      </p>
    </div>
    <div class="row-container">
      <span>Time:</span>
      <p>
        {{ report.date | date : "yyyy-MM-dd" }} ({{
          report.date | date : "h:mm a"
        }})
      </p>
    </div>
    <div class="row-container">
      <span>Status: </span>
      <p>
        {{ report.status }}
        <a (click)="togglePasswordModal()">CHANGE</a>
      </p>
    </div>
    <div class="column-container">
      <span>Extra Info:</span>
      <p>{{ report.extraInfo }}</p>
    </div>
    <button (click)="close()" class="btn btn-secondary">BACK</button>
  </div>
</div>
<app-password
  *ngIf="showPassWordModal"
  (result)="handleResult($event)"
></app-password>
