<div id="opacity-container">
  <div id="password-container">
    <div class="row-container">
      <p>Enter password:</p>
      <input type="password" [(ngModel)]="password" />
    </div>
    <p class="warningText" *ngIf="showWarningText">
      Incorrect Password, please try again!
    </p>
    <div class="row-container">
      <button class="btn btn-secondary" (click)="close()">Back</button>
      <button class="btn btn-primary" (click)="checkPassword()">
        Submit Password
      </button>
    </div>
  </div>
</div>
